#kh{
    margin-left: 810px;
    margin-bottom: 100px;
    margin-top: -550px;
   position: static;
}
#ide{
    margin-left: 830px;
    margin-top: -620px;
    margin-bottom: 580px;
}

#span{
    margin-left: -60px;
    margin-top: 44px;
    margin-bottom: -26px;
}
#bt1{
    margin-right: 0px;
    padding: 9px 15px;
    border-radius: 10px 10px;
    background-color: white;
    border: 1px solid #d8d4d4;
}
.vf{
    margin-top: 450px;
    margin-left: -370px;
  
}
.vf1{
    padding: 10px 90px;
    border-radius: 10px 10px;
    border: 1px solid #14BC9A;
    color: #14BC9A;
}
#bt2{
    padding:9px 15px;
    border-radius: 10px 10px;
    background-color: white;
    border: 1px solid #c5bfbf;
    margin-left: 20px;
}
#in1{
    margin-right: 0px;
    margin-left: -80px;
}
#in2{
    margin-left: 20px;
    padding: 15px 10px;
    border-radius: 10px 10px;
    border: 1px solid #dfdbdb;
    background-color: #e7e5e5;
}
#in0{
    padding: 15px 10px;
    border-radius: 10px 10px;
    margin-right: 0px;
    border: 1px solid #e0dede;
    background-color:  #e7e5e5;
}
#in4{
    padding: 15px 117px;
    border-radius: 10px 10px;
    border: 1px solid #e0dede;
    background-color:  #e7e5e5;
  
}
#in3{
    margin-right: 0px;
    margin-left: -80px;
  
}
#in6{
    margin-left: -77px;
    padding: 15px 10px;
    border-radius: 10px 10px;
    border: 1px solid #dddcdc;
    background-color:#e7e5e5 ;
}
#in7{
    margin-left: 20px;
    padding: 15px 10px;
    border-radius: 10px 10px;
    border: 1px solid #dddcdc;
    background-color:#e7e5e5;
}
#in8{
    margin-right: 0px;
    margin-left: -75px;
    font-size: 13px;
}
#in9{
   margin-right: 0px;
   margin-left: -75px;
}
#in10{
    background-color:#14BC9A ;
    padding: 10px 10px;
    width: 65%;
    border-radius: 10px 10px;
    color: white;
    border: 1px solid #dddcdc;
}
#in11{
    margin-right: 0px;
   margin-left: -75px;
   width: 140%;
}
#in12{
    padding: 5px 10px;
    width: 55%;
    border-radius: 10px 10px;
    color: black;
    border: 1px solid #dddcdc;
}
#iz2{
    padding: 15px 117px;
    border-radius: 10px 10px;
    border: 1px solid #dddcdc;
}
#iz1{
    margin-right: 0px;
    margin-left: -80px;
    
}
#iz4{
    margin-left: -77px;
    padding: 15px 10px;
    border-radius: 10px 10px;
    border: 1px solid #dddcdc;
    background-color:#e7e5e5 ;
}
#iz5{
    margin-left: 20px;
    padding: 15px 10px;
    border-radius: 10px 10px;
    border: 1px solid #dddcdc;
    background-color:#e7e5e5;
}
#iz7{
    margin-left: -237px;
    padding: 15px 20px;
    border-radius: 10px 10px;
    border: 1px solid #dddcdc;
    background-color:#e7e5e5 ;
}
#iz8{
    margin-left: 20px;
    padding: 15px 20px;
    border-radius: 10px 10px;
    border: 1px solid #dddcdc;
    background-color:#e7e5e5;
}
#iz6{
    padding: 20px 160px;
    width: 40%;
}
.c1011{
    margin-top: -260px;
    margin-bottom: -800px;
    /* margin-right: 900px;
    margin-left: -200px; */
  
}
.e911{
    margin-top: -100px;
    margin-bottom: -800px;
    /* margin-right: -200px;
    margin-left: -200px; */
    /* position: fixed; */
}