.form{
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 2000px;
    background-color:lightcyan;
    margin-left: 90px;
    position: fixed;
    position: sticky;
}
.sam{
    margin-left: 135px;
    margin-bottom: -5px;
}
.pam{
    margin-left: 15px;
}
.loc{
    margin-left: 15px;
}
.header{
    background-color: antiquewhite;
}
.input{
    padding: 10px 8px 5px 5px;
    margin-bottom: 10px;
    width: 68%;
    margin-left: 30px;
    border-radius: 5px 5px;
}
.label{
    margin-left: 10px;
}
.container1{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color:lightcyan ;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .slid{
    display: flex;
    flex-direction: row;
  }
  .input1{
        padding: 10px 10px 5px 5px;
        margin-bottom: 10px;
        width: 78%;
        margin-left: 20px;
        border-radius: 5px 5px;
  }
  .slidecontainer {
    width: 100%;
  }
  .sli {
    width: 95%;
    height: 25px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .sli:hover {
    opacity: 1;
  }
  
  .sli::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .sli::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
 