.form{
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 2050px;
    background-color:lightcyan;
    margin-left: 90px;
    border-radius: 10px 10px 10px 10px;
    margin-top: 10px;
    /* position: fixed; */
   
}
.search-box1{
  margin-bottom: -200px;
}
.search{
  margin-left: 10px;
}
.container{
  display: flex;
  background-color: white;
  width: 963px;
  border:1px solid rgb(247, 239, 239);
  border-radius: 5px;
  margin-left: 200px;
  margin-top: 100px;
}
.phot{
  height: 5px;
  margin-left: 1170px;
 width: 50%;
 padding: 10px 10px;
 border: 1px solid dotted red;
}
.date1{
  padding: 10px 30px ;
  text-align: center;
  margin-bottom: 10px;
  width: 78%;
  margin-left: 5px;
  border-radius: 5px 5px;
}
.date2{
 text-align: center;
  padding: 10px 30px ;
  margin-bottom: 10px;
  width: 78%;
  margin-left: 5px;
  border-radius: 5px 5px;
  }
.image{
  height: 145px;
  margin-top: 20px;
  border-radius: 50px;
  margin-top: 90px;
  border: 1px solid dotted red;
 padding: 2px 2px;
 width: 20%;
}
.image:hover{
  background-color: red;
  color: greenyellow;
  transform: scaleX(1.5 red);
  box-shadow: 0 0 15 px green;
  border-radius: 20px;
}
.image:active{
  box-shadow: 0 0 15 px green;
  transform: scale(.9);
}
.send{
  border:none;
}
#one{
  width:410px;
  border-right: 1px solid grey;
}
#two{
  width:410px;
}
.sam{
    margin-left: 135px;
    margin-bottom: -5px;
}
.pam{
    margin-left: 15px;
}
.loc{
    margin-left: 15px;
}
.header{
    background-color: antiquewhite;
    border-radius: 10px 10px 0px 0px;
   
}
.input{
    padding: 10px 8px 5px 5px;
    margin-bottom: 10px;
    width: 68%;
    margin-left: 30px;
    border-radius: 5px ;
}
.label{
    margin-left: 10px;
}
.container1{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color:lightcyan ;
  
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .slid{
    display: flex;
    flex-direction: row;
  }
  .input1{
        padding: 10px 10px 5px 5px;
        margin-bottom: 10px;
        width: 78%;
        margin-left: 20px;
        border-radius: 5px 5px;
  }

  .slidecontainer {
    width: 100%;
  }
  .sli {
    width: 95%;
    height: 25px;
    /* outline: none; */
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .sli:hover {
    opacity: 1;
  }
  
  .sli::-webkit-slider-thumb {
    /* -webkit-appearance: none;
    appearance: none; */
    width: 25px;
    height: 25px;
    background: #4204ec;
    cursor: pointer;
  }
  
  .sli::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .count{
    display: grid;
    grid-template-columns:auto auto;
    height: 800vh;
    width: 70%;
    margin-left: 340px;
    margin-top: -2000px;
 
}


input-range__label-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.input-range__label--value {
  position: absolute;
  top: -20px;
  left: 0;
  width: 1px;
  height: 1px;
  /* border-radius: 50%; */
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-range__track--active{
  background-color:#14BC9A;
  
}
.input-range__slider{
  background-color:#14BC9A ;
}
.input-range__label{
  display:none;
}
.input-range{
  width:94%;
  margin-left:8px;
}
.range{
margin-left:-15   0px;
margin-top:10px;
}
.rangeOne{
  margin-left:140px;
  margin-top:-40px;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
body{
	/* background: #eeeff4; */
  
}

.wrappe .header{
	width: 90%;
	height: 20px;
	background: #0c0000;
	color: hsl(0, 25%, 94%);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 900;
  border-radius: 40px 30px;
}
table,
tr,
td{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 0px;
  font-size: 13px;
}
hr{
  font-size: 12px;
  border: 0.px solid black ;
}
.table{
  margin-left: 0px;
}
.tab:hover{
background-color:rgb(246, 248, 243);
}
.wrappe .header:hover{
	box-shadow: #4204ec;
color: #4204ec;
border: 1px solid #4204ec;
}
.wrappe:hover{
box-shadow: #4204ec;
color: #4204ec;

}
.bg1{
  margin-left: 740px;
  margin-bottom: -50px;
  position: sticky;
  padding:10px 15px;
  border:1px solid grey;
  border-radius: 40px 40px;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  /* margin-top: -100px; */
}
.v{
  padding: 10px;
  margin-bottom: 25px;

}
.he{
 margin-left: 5px;
  margin-bottom: -47px;
  padding:10px 15px;
}
.p{
  margin-left: 300px;
  margin-bottom: -65px;
  padding:10px 15px;
}
.h{
  margin-left: 650px;
  margin-bottom: -65px;
  padding:10px 15px;
}
.bg2{
  margin-left: 790px;
  margin-bottom: -29px;
  padding:10px 15px;
  border:1px solid grey;
  border-radius: 40px 40px;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  /* margin-top: -1000px; */
 
}
.cards_wra{
	padding: 20px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  border-radius: 40px 30px;
  column-gap: 5px;
}
.cards_wra:hover{
  box-shadow: #4204ec;
color: #4204ec;
}

.cards_wra .card_ite{
	padding: 15px 10px;
	width: 20%;
  border-radius: 40px 30px;
}
.cards_wra .card_ite:hover{
  box-shadow: #4204ec;
  color: #4204ec;
}
.cards_wra .card_inne{
	background: #faf2f2;
	border-radius: 20px;
	padding: 20px 15px;
	min-width: 90px;
	min-height: 125px;
	max-height: 135px;
	width: 100%;
}
.cards_wra .card_inne:hover{
  box-shadow: #4204ec;
  color: #4204ec;
}
.cards_wra .card_ite .im{
	width: 40%;
	height: 30px;
	margin-bottom: 5px;
}
.cards_wra .card_ite .im:hover{
  box-shadow: #4204ec;
  color: #4204ec;
}

.cards_wra .card_ite .role_nam{
	color: #110105;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 15px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cards_wra .card_ite .role_nam:hover{
  box-shadow: #4204ec;
  color: #4204ec;
}
.cards_wra .card_ite .real_nam{
	color: #b6c0c2;
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0 5px;
}
.cards_wra .card_ite .real_nam:hover{
  box-shadow: #4204ec;
  color: #4204ec;
}

.cards_wra .card_ite .fil{
	font-size: 14px;
	line-height: 20 px;
	color: #7b8ca0;
}
.cards_wra .card_ite .fil:hover{
	box-shadow: #4204ec;
  color: #4204ec;
}
@media screen and (max-width: 1024px){
	.cards_wra .card_ite{
		width: 93%;
	}
}

@media screen and (max-width: 768px){
	.cards_wra .card_ite{
		width: 50%;
	}
  .cards_wra .card_ite:hover{
    box-shadow: #4204ec;
    color: #4204ec;
	}
	.wrappe .header{
		font-size: 16px;
		height: 60px;
	}
  .wrappe .header:hover{
    box-shadow: #4204ec;
    color: #4204ec;
	}
}

@media screen and (max-width: 568px){
	.cards_wra .card_ite{
		width: 90%;
	}
  .cards_wra .card_ite:hover{
		box-shadow: #4204ec;
    color: #4204ec;
	}
	.wrappe .header{
		font-size: 14px;
	}
  .wrappe .header:hover{
		box-shadow: #4204ec;
    color: #4204ec;
	}
}