
.co {
  position: relative;
  width: 100%;
  padding: 15px 15px;
  background-color: white;
  border-bottom: 2px solid black;
}
.top-word {
  position: absolute;
  top: 1;
  margin-left: 105px;
  font-size: 12px; 
}
.la{
  -webkit-text-stroke-width: 3px; 
  -webkit-text-stroke-color: rgb(14, 190, 93); 
  -webkit-text-fill-color:white
}
.span{
  margin-left: 900px;
  margin-bottom: -010px;
}
.login{
border-radius: 10px 10px;
background-color: red;
padding: 5px 23px;
color: white;
}
.Register{
  margin-left: 40px;
  background-color: red;
  padding:  5px 23px;
  color: white;
  border-radius: 10px 10px;
}
.login:hover{
  border: 3px solid blueviolet;
  box-shadow: 0 0 15px blueviolet;
}
.Register:hover{
  border: 3px solid blueviolet;
  box-shadow: 0 0 15px blueviolet;
}
.login:active{
  transform: scale(.9);
}
.Register:active{
  transform: scale(.9);
}
.tr{
  margin-left: 120px;
  font-size: 25px;
}
.bottom-word {
  position: relative;
  margin-top: 15px;
 
/* Adjust this value to control the vertical spacing */
}





#button{
    margin-left: 230px;
  }
  .send{
    padding:15px;
    border:1px solid rgb(235, 229, 229);
  }
  .search-box1{
    margin-bottom: -200px;
  }
  h2{
    font-size:40px;
    text-align: center;
  }
  #one{
    width:10px;
    border-right: 1px solid grey;
  }
  #two{
    width:10px;
  }
  .send:focus{
    border:none;
  }
  .search{
    margin-right: -110px;
  }
  .search{
    padding:8px;
    background-color: rgb(137, 214, 182);
    width:100px;
    border-radius: 8px;
    border:1px solid #4cc29b;
    margin-right: 0px;
    height:43px;
    margin-top:1px;
    margin-left: 100px;
  }
  
  .containe{
    display: flex;
    background-color: white;
    width: 963px;
    border:1px solid rgb(247, 239, 239);
    border-radius: 5px;
    margin-left: 225px;
    margin-bottom: 100px;
  }
  .bt{
    margin-right: -560px;
  }
  .head{
    margin-top: -80px;
  }
  .btn{
    padding:10px 35px;
    border:1px solid grey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  
  }
  .heading{
    color:rgb(137, 214, 182);
  }
  .send{
    border:none;
  }
  .sai{
    margin-right: 5px;
  }
  p{
    text-align: center;
    color:grey;
    margin-top: -20px;
    font-size: 18px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
body{
	background:#ffffff;
}

.wrapper .header{
	width: 100%;
	height: 10px;
	background: #0c0000;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 900;
  border-radius: 10px 10px;
 
}

.cards_wrap{
	padding: 10px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  border-radius: 20px 20px;
  column-gap: 5px;
  margin-left: 60px;
}
/* .cards_wrap:hover{
  box-shadow: 0 0 15px green;
} */
.cards_wrap:active{
  box-shadow: 0 0 15px green;
  transform: scale(0.9);
}
.cards_wrap .card_item{
	padding: 5px 5px;
	width: 10%;
}
.card_inner{
  box-shadow: 0 0 9px hsl(120, 3%, 79%);
}
.card_inner:hover{
box-shadow: 0 0 15px green;
}

.cards_wrap .card_inner{
	background: hwb(0 100% 0%);
	border-radius: 15px;
	padding: 5px 25px;
	min-width:0px;
	min-height: 65px;
	max-height: 70px;
	width: 70%;
}

.cards_wrap .card_item .img{
	width: 60px;
	height: 60px;
	margin-top: 3px;
  margin-left: 10px;
}

.cards_wrap .card_item .role_name{
	color: #110105;
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 10px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cards_wrap .card_item .real_name{
	color: #fdffff;
	font-size: 12px;
	font-weight: 100;
	margin: 5px 0px 5px;
}

.cards_wrap .card_item .film{
	font-size: 14px;
	line-height: 20px;
	color: #fbfdff;
}

@media screen and (max-width: 1024px){
	.cards_wrap .card_item{
		width: 33%;
	}
}

@media screen and (max-width: 768px){
	.cards_wrap .card_item{
		width: 40%;
	}
	.wrapper .header{
		font-size: 16px;
		height: 30px;
	}
}

@media screen and (max-width: 568px){
	.cards_wrap .card_item{
		width: 10%;
	}
	.wrapper .header{
		font-size: 14px;
	}
}
.popup-box{
  border: 1px solid black;
color: white;
background-color: hsl(0, 4%, 95%);
  width: 90%;
  margin-top: -500px;
  margin-bottom: -200px;
  height: 540px;
  margin-left: 70px;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */ 
}
.d{
  margin-left: 1150px;
}

.if{
  height: 450px;
  width: 80%;
  margin-left: 125px;
}
.m{
/* text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap; */
}
.b1{
  padding: 5px 20px;
  border-radius: 10px 10px;
 
}
.b2{
  padding: 5px 20px;
  border-radius: 10px 10px;
  background-color: rgb(137, 214, 182);
}
.m1{
  display: flex;
  justify-content: space-evenly;
}