

.co {
    position: relative;
    width: 100%;
    padding: 15px 15px;
    background-color: #fffefe;
    border-bottom: 2px solid #fffefe;
   
  }
  .top-word {
    position: absolute;
    top: 1;
    margin-left: 105px;
    font-size: 12px; 
  }
  .google{
    margin-right: 20px;
  }
  .la{
    -webkit-text-stroke-width: 3px; 
    -webkit-text-stroke-color: rgb(14, 190, 93); 
    -webkit-text-fill-color:white
  }
  .span{
    margin-left: 900px;
    margin-bottom: -010px;
  }
  .login{
  border-radius: 10px 10px;
  background-color: red;
  padding: 5px 23px;
  color: white;
  }
  .Register{
    margin-left: 40px;
    background-color: red;
    padding:  5px 23px;
    color: white;
    border-radius: 10px 10px;
  }
  /* .login:hover{
    border: 3px solid blueviolet;
    box-shadow: 0 0 15px blueviolet;
  }
  .Register:hover{
    border: 3px solid blueviolet;
    box-shadow: 0 0 15px blueviolet;
  } */
  .login:active{
    transform: scale(.9);
  }
  .Register:active{
    transform: scale(.9);
  }
  .tr{
    margin-left: 150px;
    font-size: 2px;
   
  }
 
  .bottom-word {
    position: relative;
    margin-top: 15px;
  }
  .imagess{
    display: flex;
    background-color: hwb(0 89% 9%);
    width: 35%;
    height: 610px;
  }
  #umb{
    background-color:hwb(0 89% 9%) ;
    display: flex;
    width: 35%;
 
  }
  .batt{
    padding: 10px 90px;
    border: 10px solid #fffefe;
  }
  .i{
    height: 400px;
  }
  .c{
    display: flex;
    flex-direction: col;
    padding: 20px 70px;
    margin-left: 710px;
    margin-bottom: -400px;
    margin-top: -10px;
    border-radius: 10px 10px;
   border: none;
   margin-top: 340px;
   
  }
  .in{
    padding: 22px 90px;
    /* border-radius: 10px 10px; */
    border-bottom-left-radius: 10px ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color:  #eeeff4;
    border: none;
  }
  .b{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color:#eeeff4 ;
  }
  .c1{
    display: flex;
    flex-direction: row; 
    margin-left: 780px;
    margin-bottom: -500px;
    margin-top: -410px;
    
  }
  .pu{
    padding: 20px 104px; 
     border-radius: 10px 10px;
     border-bottom-left-radius: 10px ;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #fffefe;
    background-color:  #eeeff4; 
  }
  .c2{
    display: flex;
    flex-direction: col;
    padding: 20px 70px;
    margin-left: 710px;
    margin-bottom: -400px;
    margin-top: -10px;
    border-radius: 10px 10px;
   border: none;
   margin-top: 470px;
  }
  .fg{
    margin-right: 0px;
    margin-left: -350px;
  }
  #lo{
    margin-top: 20px;
    margin-left: -350px;
    margin-right: 0px;
  }
  .che{
    padding: 0px 0px;
    border: 1px solid #fffefe;
  }
  .check{
    margin-left: 20px;
  }
  .for{
    margin-left: 110px;
  }
  .c3{
    display: flex;
    flex-direction: col;
    padding: 20px 70px;
    margin-left: 710px;
    margin-bottom: -400px;
    margin-top: -10px;
    border-radius: 10px 10px;
 
   margin-top: 390px;
  }
  .ban{
    padding: 15px 170px; 
    border-radius: 10px 10px;
    border-bottom-left-radius: 10px ;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   border: 1px solid #fffefe;
   background-color: #14BC9A; 
   text-align: center;
   color: white;
  }
  .c4{
    display: flex;
    flex-direction: row;
    margin-left: -100px;
    margin-right: 0px;
    margin-bottom: -900px;
   margin-top: 100px;
  }
  .hg1{
    margin-left: 190px;
   font-size: 10px;
  }
  .g{
    border: 1px solid #fffefe;
  }
  .k{
    border: 1px solid #fffefe;
  }
  .c5{
    display: flex;
    flex-direction: col;
    padding: 20px 70px;
    margin-left: 710px;
    margin-bottom: -400px;
    margin-top: -10px;
    border-radius: 10px 10px;
   border: none;
   margin-top: 390px;
  }
  .cd{
    padding: 15px 108px; 
    border-radius: 10px 10px;
    border-bottom-left-radius: 10px ;
   border-bottom-left-radius: 10px;
   border-top-left-radius: 10px;
   border: 1px solid hwb(0 79% 19%);
   background-color: white;
   text-align: center;
  }
  .c6{
    display: flex;
    flex-direction: col;
    padding: 20px 70px;
    margin-left: 705px;
    margin-bottom: -400px;
    margin-top: -10px;
    border-radius: 10px 10px;
   border: none;
   margin-top: 390px;
  }
  .jo{
   text-align: center;
   margin-left: 130px;
   font-size: 15px;
  }
.e3{
  margin-top: -100px;
  margin-bottom: -100px;
  text-align: center;
  margin-left: 30px;
}
.c0{
  display: flex;
  flex-direction: col;
  padding: 20px 100px;
  margin-left: 790px;
  margin-bottom: -00px;
  margin-top: -10px;
  border-radius: 10px 10px;
 border: none;
 margin-top: -0px;
 height: 20px;
}
.c10{
  display: flex;
  flex-direction: row;
  /* padding: 20px 70px; */
  margin-left: -545px;
  margin-right: -0px;
  margin-bottom: -00px;
  margin-top: -0px;
  border-radius: 10px 10px;
 border: none;
 height: 30px;
 margin-top: 460px;
 
}
#hf{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;

  width: 160%;

}
.e9{
  padding: 5px 80px; 
  border-radius: 10px 10px;
  border-bottom-left-radius: 10px ;
 border-bottom-left-radius: 10px;
 border-top-left-radius: 10px;
 background-color:  #eeeff4; 
 text-align: center;
 border: 1px solid #14BC9A;
 margin-left: 420px;
 color: #14BC9A;
}
.f{
  margin-top: -70px;
}
